<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureVirtualMachine</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://52.170.139.157/test</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://52.170.139.157</MSDeployServiceURL>
    <DeployIisAppPath>r2rapp/test</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>benny</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureVirtualMachine</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="db" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="&#xD;&#xA;			 Server=tcp:road2r.database.windows.net,1433;&#xD;&#xA;			 Initial Catalog=r2rdb_testing_6;&#xD;&#xA;			 Persist Security Info=False;&#xD;&#xA;			 User ID=benny;&#xD;&#xA;			 Password=cohenr2r!;&#xD;&#xA;			 MultipleActiveResultSets=False;&#xD;&#xA;			 Encrypt=True;&#xD;&#xA;			 TrustServerCertificate=False;&#xD;&#xA;			 Connection Timeout=30;&#xD;&#xA;		" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\db_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="&#xD;&#xA;			 Server=tcp:road2r.database.windows.net,1433;&#xD;&#xA;			 Initial Catalog=r2rdb_testing_6;&#xD;&#xA;			 Persist Security Info=False;&#xD;&#xA;			 User ID=benny;&#xD;&#xA;			 Password=cohenr2r!;&#xD;&#xA;			 MultipleActiveResultSets=False;&#xD;&#xA;			 Encrypt=True;&#xD;&#xA;			 TrustServerCertificate=False;&#xD;&#xA;			 Connection Timeout=30;&#xD;&#xA;		" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)db-Web.config Connection String" />
  </ItemGroup>
</Project>