<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureVirtualMachine</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://52.170.139.157/Gilad_test</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>http://52.170.139.157</MSDeployServiceURL>
    <DeployIisAppPath>r2rapp/Gilad_test</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <UserName>benny</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureVirtualMachine</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="db" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="     &#xD;&#xA;			 server=tcp:road2r.database.windows.net,1433;     &#xD;&#xA;			 initial catalog=r2rdb_testing_13;     &#xD;&#xA;			 persist security info=false;     &#xD;&#xA;			 user id=benny;     &#xD;&#xA;			 password=cohenr2r!;     &#xD;&#xA;			 multipleactiveresultsets=false;&#xD;&#xA;			 Max Pool Size=400;&#xD;&#xA;			 encrypt=true;     &#xD;&#xA;			 trustservercertificate=false;     &#xD;&#xA;			 connection timeout=30;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\db_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="     &#xD;&#xA;			 server=tcp:road2r.database.windows.net,1433;     &#xD;&#xA;			 initial catalog=r2rdb_testing_13;     &#xD;&#xA;			 persist security info=false;     &#xD;&#xA;			 user id=benny;     &#xD;&#xA;			 password=cohenr2r!;     &#xD;&#xA;			 multipleactiveresultsets=false;&#xD;&#xA;			 Max Pool Size=400;&#xD;&#xA;			 encrypt=true;     &#xD;&#xA;			 trustservercertificate=false;     &#xD;&#xA;			 connection timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)db-Web.config Connection String" />
  </ItemGroup>
</Project>