web.config
Web.config
r2rapp - Web Deploy.pubxml
*.log
*.pubxml
04-April-2020.sln
.vs/04-April-2020/config/applicationhost.config
.vs/04-April-2020/v16/.suo
log/MyTestAppender.log.*
packages/
log/MyTestAppender.log

App_Data/PublishProfiles/r2rapp - Web Deploy.pubxml
App_Data/PublishProfiles/r2rapp - Web Deploy.pubxml
App_Data/PublishProfiles/r2rapp - Web Deploy.pubxml
log/MyTestAppender.log
/.vs/Road2R/config/applicationhost.config
App_Data/PublishProfiles/r2rapp - Web Deploy.pubxml
log/StackTraces.txt
App_Data/PublishProfiles/r2rapp - Web Deploy.pubxml
App_Data/PublishProfiles/r2rapp - Web Deploy.pubxml
*.pubxml
*.publishproj
App_Data/PublishProfiles/r2rapp - Web Deploy.pubxml
App_Data/PublishProfiles/r2rapp - Web Deploy.pubxml
*.pubxml
*.pubxml
App_Data/PublishProfiles/r2rapp - Web Deploy.pubxml
