<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <globalization uiCulture="he-IL" culture="he-IL"/>
   
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Try increasing this value to a larger value (Int.MaxValue used below) -->
        <jsonSerialization maxJsonLength="2147483644"></jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>

  <connectionStrings>

    <add name="db"  connectionString="Data Source=Media.ruppin.ac.il;Initial Catalog=igroup91_test2;
           User ID=igroup91;Password=igroup91_27005" providerName="System.Data.SqlClient"/>
  </connectionStrings>

      
</configuration>
