<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    
  </configSections>

  <log4net>
    <appender name="TestAppender" type="log4net.Appender.RollingFileAppender">
      <file value="MyTestAppender.log" />
      <encoding value="utf-8" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <!--<rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %type.%method - %message%n" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <!-- If the following line is not included the log file 
      will not be created even if log4net is configured with this file. -->
      <appender-ref ref="TestAppender" />
    </root>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup> 
    
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <globalization uiCulture="he-IL" culture="he-IL" />
   <webServices>

        <protocols>

            <add name="HttpSoap12"/>

            <add name="HttpSoap"/>

            <add name="HttpGet"/>

            <add name="HttpPost"/>

        </protocols>

</webServices>
  </system.web>

  <system.net>
  <mailSettings>
    <smtp deliveryMethod="Network" from="cohenr2r@gmail.com">
      <network defaultCredentials="false" host="smtp.gmail.com" port="587" userName="cohenr2r@gmail.com" password="systemr2r" enableSsl="true"/>
      <!--<network defaultCredentials="false" host="smtp.gmail.com" port="25"  userName="cohenr2r@gmail.com" password="systemr2r" enableSsl="false"/>-->
    </smtp>
  </mailSettings>
  
    </system.net>

    

  
  <system.web.extensions>
    <scripting>
      <webServices>
        
        <!-- Try increasing this value to a larger value (Int.MaxValue used below) -->
        <jsonSerialization maxJsonLength="2147483644"></jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>


  <!--<connectionStrings>

    <add name="db"  connectionString="Data Source=Media.ruppin.ac.il;Initial Catalog=igroup91_test2;
           User ID=igroup91;Password=igroup91_27005" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
    <!--<connectionStrings>-->

    <!--<add name="db"  connectionString="Data Source=Media.ruppin.ac.il;Initial Catalog=bgroup54_test1;
           User ID=bgroup54;Password=bgroup54_99992" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
      
<connectionStrings>
          <!--<add name="db" connectionString="Data Source=Media.ruppin.ac.il;Initial Catalog=bgroup99_test2; User ID=benny;Password=ruppine=mc2" providerName="System.Data.SqlClient" />-->
          <!--<add name="db" connectionString="Data Source=Media.ruppin.ac.il;Initial Catalog=bgroup64_test2; User ID=bgroup64;Password=bgroup64_50141" providerName="System.Data.SqlClient" />-->
<!--Server=tcp:road2r.database.windows.net,1433;Initial Catalog=r2rdb;Persist Security Info=False;User ID={your_username};Password={your_password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30-->          
<add name="db" connectionString="Server=tcp:road2r.database.windows.net,1433;Initial Catalog=r2rdb_test;Persist Security Info=False;User ID=benny;Password=cohenr2r!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>

  <appSettings>
    <add key="serverKey" value="AIzaSyDQfirNkIkUKNy9B2irYhb8CV6pYpIVBOQ" />
    <add key="systemMail"  value="cohenr2r@gmail.com"/>
    <add key="adminMail"   value="mtndoron@gmail.com"/>
    <add key="password"   value="r2rr2r"/>
    <!--<add key="AvailableServers" value="https://proj.ruppin.ac.il/igroup91/test2/tar3/road%20to%20recovery/pages/,https://proj.ruppin.ac.il/igroup91/r2rtest/road2r/road%20to%20recovery/pages/" />-->
    <add key="AvailableServers" value="http://40.117.122.242/Road%20to%20Recovery/pages/" />
  </appSettings>
 
  <runtime>

 
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

 
          <dependentAssembly>

 
              <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

 
              <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />

 
          </dependentAssembly>

 
      </assemblyBinding>

 
  </runtime>

</configuration>

