.modal-header, .modal h4, .close {
    background-color: #5cb85c;
    color: white !important;
    text-align: center;
    font-size: 30px;
}

.modal-footer {
    background-color: #f9f9f9;
}

.msg {
    font-size: 18px;
    text-align: center
}
